@import '~antd/dist/antd.css';

body,
html {
  margin: 0px auto;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
